@model List<Currency>﻿

@{
    ViewData["Title"] = "Home Page";
    int counter = 1;
}


<section>
    <div class="container pt-1">
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Valyuta</th>
                        <th scope="col">Kod</th>
                        <th scope="col">Kurs</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td>@item.Value</td>
                        </tr>
                        counter++;
                    }

                    <tr>
                        <th scope="row">999999</th>
                        <td>Test</td>
                        <td>Test</td>
                        <td>9999</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>